@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* COLORS */
  --clrCyan: hsl(179, 62%, 43%);
  --clrBrightYlw: hsl(71, 73%, 54%);
  --clrLightGray: hsl(204, 43%, 93%);
  --clrGrayishBlue: hsl(218, 22%, 67%);
  --clrGhostWhite:#FAFAFF;

  /* FONT WEIGHTS */
  --light:300;
  --Regualr: 400;
  --bold: 700;

}

body {
  font-family: "Karla", sans-serif;
  background: var(--clrLightGray);
  font-size: 16px;
}

.container {
  width: 50%;
  margin: 3rem auto;
  box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.37);
}


/* ----UPPER SECTION---- */

.upper-sec {
  background:var(--clrGhostWhite);
  padding: 2rem;
  border-radius: 5px 5px 0px 0px;
}
.upper-sec h1 {
  font-size: 1.2rem;
  color: var(--clrCyan);
}
.upper-sec h3 {
  margin: 1rem 0rem;
  font-size: 1rem;
  color: var(--clrBrightYlw);
}
.upper-sec p {
  color: var(--clrCyan);
  line-height: 1.5rem;
  word-spacing: .2rem;
}


/* ----LOWER SECTION---- */

.lower-sec {
    color:var(--clrGhostWhite);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    padding: 2rem;
    background: var(--clrCyan);
}
.left-side h3{
    font-size: 1.2rem;
}
.price{
    margin: 1rem 0rem .5rem 0rem;
    display: flex;
    align-items: center;
}
.price p{
    margin-left: 1rem;
    opacity: .5;
}
.left-side p{
    font-weight: var(--light);
}


/* -----SIGNUP BUTTON----- */

.cta{
    background: var(--clrBrightYlw);
    text-align: center;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    border-radius: 5px;
    box-shadow: 0px 4px 17px -7px rgba(0,0,0,1);
}
.cta:hover{
    background:#c8e34f;
    cursor: pointer;
}
a{
    color: var(--clrGhostWhite);
    text-decoration: none;
}
.right-side{
    background: var(--clrGrayishBlue);
    padding: 2rem;
    border-radius:0px 0px 5px 5px ;
}
.benifits{
    margin: 1rem 0rem;
    font-weight: var(--light);
    opacity: .6;
    list-style: none;
    font-size: .8rem;
    line-height: 1.2rem;
}


/* -----FOOTER SECTION----- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
    .container{
        width: 80%;
    }
    .upper-sec{
        padding: 1rem;
    }
  .lower-sec {
    display: block;
  }
  .left-side{
      padding:1rem;
  }
  .right-side{
      padding: 1rem;
  }
}
